<% @posts.each do |post| %>
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <%= image_tag post.user.gravatar_url %>
            </p>
        </figure>
        <div class="media-object">
            <div class="content">
                <p>
                    <strong><%= link_to post.user.email, user_path(post.user) %></strong>
                    <br>
                    <%= post.body %>
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">                
                    <a href="" class="level-item">
                        <span class="icon is-small"><ion-icon name="heart"></ion-icon></i></span>
                    </a>
                    <a href="" class="level-item">
                        <span class="icon is-small"><ion-icon name="chatbox"></ion-icon></span>
                    </a>
                </div>
            </nav>                
            <% post.comments.each do |comment| %>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <%= image_tag comment.user.gravatar_url %>
                    </p>
                </figure>
                <div class="media-object">
                    <div class="content">
                        <p>
                           <strong><%= link_to comment.user.email, user_path(comment.user) %></strong>
                            <br>
                            <%= comment.body %>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <% if comment.user == current_user || post.user == current_user %>
                        <%= link_to comments_delete_path(comment), data: { confirm: 'Are you sure?' }, :method => :destroy, class: "level-item" do %>
                            <span class="icon is-small has-text-danger"><ion-icon name="close-circle"></ion-icon></span>
                        <% end %>
                    <% end %>  
                </div>
            </article>
            <br>
            <% end %>
            <div id="comment-form">
            <%= form_with model: @comment, local: false do |f|  %>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <%= f.text_field :body, {class: 'textfield is-small', placeholder: 'Add comment'} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <%= f.hidden_field :post_id, value: post.id %>
                                <%= f.hidden_field :user_id, value: current_user.id %>
                                <%= f.submit 'Post comment', {class: 'button is-link is-small'} %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        <div class="media-right">
            <% if post.user == current_user %>
                <%= link_to posts_delete_path(post), data: { confirm: 'Are you sure?' }, :method => :destroy, class: "level-item" do %>
                    <span class="icon is-small has-text-danger"><ion-icon name="close-circle"></ion-icon></span>
                <% end %>
            <% end %>        
        </div>
    </article>
    <br>
<% end %>